body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #000;
}

#game-board {
    background-color: #68d468;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}
.snake {
    border-radius: 50%;
    background-color: #006400;
    border: .25vmin solid #000;


}
.food {
    background-color: #daa520;
    border: .25vmin solid #000000;

}

#score-board{
    padding: 15px;
    display: flex;
    position:fixed;
    justify-content:right;
    align-items:right;
    right:13vmin;
    height:15vmin;
    width:25vmin;
    color:#ffffff;
    font-size:40px;
    font-family:'Arial';
    font-weight:bold;
}
#score-board:right{
    transform:scale(1.01);
}
body {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#instructions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    font-size:25px;
    font-family:'Arial';
    right:8em;
    width:20vw;
    bottom:5em;
    visibility: hidden;
}
h1 {
    text-align: center;
    border: 1px solid #13c7be;
    color: #13c7be;
}
li {
    color: #ffffff;
    font-size:25px;
    font-family:'Arial';
    font-weight: bold;
}
#mobile {
    position: absolute;
    color: #ffffff;
}
@media (min-width: 1000px) {
#instructions {
    visibility: visible
}
    #mobile {
    display: none
 }
}