body {
    min-height: 0px;
    min-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #000;
}

#game-board {
    background-color: #68d468;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}
.snake {
    border-radius: 50%;
    background-color: #006400;
    border: .25vmin solid #000;


}
.food {
    background-color: #daa520;
    border: .25vmin solid #000000;

}

#score-board{
    display: flex;
    position:relative;
    justify-content:right;
    align-items:right;
    left:6px;
    width:25px;
    color:#ffffff;
    font-size:40px;
    font-family:'Arial';
    font-weight:bold;
}
#score-board:right{
    transform:scale(1.01);
}
#instructions {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: left;
    position: relative;
    font-size:25px;
    font-family:'Arial';
    right:60px;
    width:20px;
    bottom:10px;
    visibility: hidden;
}
h1 {
    text-align: left;
    border: 5px solid #13c7be;
    color: #13c7be;
}
li {
    color: #ffffff;
    font-size:25px;
    font-family:'Arial';
    font-weight: bold;
}
#mobile {
    position: absolute;
    color: #ffffff;
}
@media (min-width: 1000px) {
#instructions {
    visibility: visible
}
#mobile {
    display: none
 }
}